* {
  padding: 0;
  margin: 0;
}

:root {
  /*Font family*/
  --ff-primary:'Inconsolata', monospace;
  --ff-secondary:'Oswald', sans-serif;
  /*Coloured boxes*/
  --color-backLight:white;
  --color-dark:rgb(38, 38, 38);
  --color-accent:rgb(243, 121, 176);
  --color-backDark:#616161;
}

.App {
  height: 100vh;
  padding: 10px;
  background-color: var(--color-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pinkHatLogoContenedor {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pinkHatLogoPicture {
  height: 100px;
}

.calculadoraContenedor {
  width: 400px;
  height: 500px;
  padding: 14px;
  background-color: var(--color-backDark);
  border-radius: 1em;
  border-radius: 19px;
  border: 4px solid var(--color-accent);
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}